// Généralités
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a, a:visited {
    text-decoration: none;
    color: black;
}
input[type='checkbox'], input[type='checkbox']:checked {
    display: none;
}
label {
    cursor: pointer;
}