* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "font1_regular";
  src: url(/assets/font/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "font2_thin";
  src: url(/assets/font/Roboto/Roboto-Thin.ttf);
}
@font-face {
  font-family: "font3_title";
  src: url(/assets/font/Shrikhand/Shrikhand-Regular.ttf);
}
.header {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.home {
  display: flex;
  flex-direction: column;
}
.home__city {
  display: flex;
  align-items: center;
  background: #e4e4e4;
  width: 100%;
  height: 50px;
  font-family: "font1_regular";
  text-align: center;
}
.home__city--icon {
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
}
.home__city--name {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
.home__block {
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home__block--title {
  margin-top: 40px;
  width: 70%;
  text-align: center;
  font-family: "font1_regular";
  font-weight: 900;
}
.home__block--text {
  margin-top: 20px;
  text-align: center;
  font-family: "font2_thin";
  font-size: 1.1rem;
}

.btn {
  margin: 40px 0 50px 0;
}
.btn--style {
  padding: 15px 20px;
  border-radius: 40px;
  border: none;
  background: #9356dc;
  background: linear-gradient(90deg, #9356dc 0%, #ff79da 100%);
  background: -webkit-linear-gradient(90deg, #9356dc 0%, #ff79da 100%);
  background: -moz-linear-gradient(90deg, #9356dc 0%, #ff79da 100%);
  color: white;
  font-family: "font1_regular";
  font-size: 1.05rem;
}

.help {
  margin: 50px 20px;
}
.help--title {
  margin-bottom: 30px;
  font-family: "font1_regular";
  font-weight: 2000;
}
.help__grid {
  display: grid;
  margin: 10px;
  row-gap: 30px;
}
.help__grid--carte {
  border-radius: 15px;
  box-shadow: 0 0 6px #00000036;
  background: white;
  padding-right: 50px;
  padding-left: 30px;
  font-family: "font1_regular";
  height: 60px;
  background: #f3f3f3;
  position: relative;
}
.help__grid--carte-color {
  border-radius: 15px;
  box-shadow: 0 0 6px #00000036;
  background: white;
  padding-right: 70px;
  padding-left: 30px;
  font-family: "font1_regular";
  background-color: #9356dc21;
  height: 60px;
  position: relative;
}
.help__grid--flex {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: bold;
}
.help__grid--icon {
  font-size: 1.1rem;
  width: 20px;
  color: #909090;
}
.help__grid--icon-color {
  color: #9356DC;
  width: 20px;
}
.help__grid--number {
  position: absolute;
  top: 20px;
  left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356DC;
  color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-size: 0.8rem;
}

.test {
  padding-left: 20px;
}

.resto {
  border: 1px solid black;
  background: #f3f3f3;
  padding: 40px 20px;
}
.resto--title {
  font-family: "font1_regular";
}
.resto__grid {
  margin-top: 25px;
  display: grid;
  row-gap: 30px;
}
.resto__link {
  height: 250px;
  position: relative;
}
.resto__carte {
  background: url(/assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) center/cover;
  height: 70%;
}
.resto__name {
  background: white;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 10px;
}
.resto__name--title {
  margin-bottom: 5px;
  font-family: "font1_regular";
  font-weight: bolder;
}
.resto__name--place {
  font-family: "font2-thin";
}
.resto__icon {
  font-size: 1.6rem;
}
.resto__new {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #99E2D0;
  color: green;
  padding: 8px 15px;
  border-radius: 5px;
  font-family: "font1_regular";
  font-size: 0.85rem;
}

.footer {
  background-color: #2e2e2ef5;
  color: white;
  padding: 30px;
  font-family: "font1_regular";
}
.footer__logo--img {
  height: 20px;
  filter: invert(100%);
}
.footer__about {
  margin-top: 10px;
  height: 100px;
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__flex {
  display: flex;
  align-items: center;
}
.footer__icon {
  font-size: 0.8rem;
  width: 10px;
}
.footer__text-icon {
  font-weight: bold;
  padding-left: 15px;
}

/*# sourceMappingURL=style_accueil.css.map */
