// section1
.home {
    display: flex;
    flex-direction: column;
        &__city{
            display: flex;
            justify-content: center;
            align-items: center;
            background: #e4e4e4;
            width: 100%;
            height: 45px;
            font-family: 'font1_regular';

                &--icon {
                    padding-right: 15px;
                }   
                &--name {
                    padding-right: 15px;
                    font-size: 1rem;
                }
        }
        &__block {
            background: $colour-background;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
                &--title {
                    margin-top: 40px;
                    width: 70%;
                    text-align: center;
                    font-family: 'font4_title-accueil';
                    font-size: 1.1rem;
                }
                &--text {
                    margin-top: 20px;
                    text-align: center;
                    font-family: 'font2_thin';
                    font-size: 1.1rem;
                }
        }
}
.btn {
    margin: 40px 0 50px 0;
        &--style {
            @include btnAccueil;
                &:hover {
                    cursor: pointer;
                    filter: brightness(150%);
                    -webkit-filter: brightness(150%);
                    -moz-filter: brightness(150%);
                }
        }
}

// Section2
.help {
    margin: 50px 20px;
        &--title {
            margin-bottom: 30px;
            font-family: 'font4_title-accueil';
        }
        &__grid {
            display: grid;
            margin: 10px;
            row-gap: 30px;
                &--carte {
                    @include home-box;
                        &-color {
                            @include home-box-color;
                        }
                }
                &--flex {
                    display: flex;
                    text-align: center;
                    height: 100%;
                    
                }
                &--icon {
                    @include icon-help;
                    color: #909090;
                        &-color {
                            @include icon-help;
                            color: $colour-primary;
                        }
                }
                &--test {
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                }
                &--number {
                    position: absolute;
                    top: 20px;
                    left: -15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $colour-primary;
                    color: white;
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    font-size: 0.8rem;
                }
        }
}
// Section3
.resto {
    background: $colour-background;
    padding: 40px 20px;
        &--title {
            font-family: 'font4_title-accueil';
        }
        &__grid{
            margin-top: 25px;
            display: grid;
            row-gap: 30px;
        }
        &__link  {
            height: 250px;
            position: relative;
            @include box-resto;
                &:hover {
                    transform: scale(1.05);
                    transition: 0.3s;
                }
        }
        &__carte1 {
            background: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") center/cover;
            height: 70%;
            border-radius: 20px 20px 0 0;
        }
        &__carte2 {
            background: url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") center/cover;
            height: 70%;
            border-radius: 20px 20px 0 0;
        }
        &__carte3 {
            background: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") center/cover;
            height: 70%;
            border-radius: 20px 20px 0 0;
        }
        &__carte4 {
            background: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") center/cover;
            height: 70%;
            border-radius: 20px 20px 0 0;
        }
        &__name {
            background: white;
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 35px 0 15px;
            border-radius: 0 0 20px 20px;
                &--title {
                    margin-bottom: 5px;
                    font-family: 'font4_title-accueil';
                    font-weight: bolder;
                }
                &--place {
                    font-family: 'font1_regular';
                }
        }
        &__input {
                &--label {
                    font-size: 1.5rem;
                }
            :checked+&--label i {
                font-weight: 900;
                color: #9356dc;
                transform: scale(1.3);
                transition: 1s;
            }
        }
        &__new {
            position: absolute;
            top: 20px;
            right: 20px;
            @include box-new;
            font-family: 'font1_regular';
            font-size: 0.85rem;
        }
}