.spinner {
    font-size: 7rem;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    visibility: hidden;
    background: #f3f3f3a1;
    animation: load 2s;
    &::before {
        content: "";
        position: absolute;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: $colour-tertiary;
        
    }
        &--icon {
            color: $colour-primary;
            z-index: 1;
            animation: load-spinner 2s;

        }
}

@keyframes load {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes load-spinner {
    0% {
        position: initial;
    }
    100% {
        transform: rotate(360deg);
        
    }
}

// section1
.home {
    display: flex;
    flex-direction: column;
        &__city{
            display: flex;
            justify-content: center;
            align-items: center;
            background: #e4e4e4;
            width: 100%;
            height: 45px;
            font-family: 'font1_regular';

                &--icon {
                    padding-right: 15px;
                }   
                &--name {
                    padding-right: 15px;
                    font-size: 1rem;
                }
        }
        &__block {
            background: $colour-background;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
                &--title {
                    margin-top: 40px;
                    width: 70%;
                    text-align: center;
                    font-family: 'font4_title-accueil';
                    font-size: 1.1rem;
                }
                &--text {
                    margin-top: 20px;
                    text-align: center;
                    font-family: 'font2_thin';
                    font-size: 1.1rem;
                }
        }
}
.btn {
    margin: 40px 0 50px 0;
        &--style {
            @include btnAccueil;
                &:hover {
                    cursor: pointer;
                    filter: brightness(125%);
                    -webkit-filter: brightness(125%);
                    -moz-filter: brightness(125%);
                    box-shadow: 0 0 6px 0 black;
                }
        }
}

// Section2
.help {
    margin: 50px 20px;
        &--title {
            margin-bottom: 30px;
            font-family: 'font4_title-accueil';
        }
        &__grid {
            display: grid;
            margin: 10px;
            row-gap: 30px;
                &--carte {
                    @include home-box;
                        &-color {
                            @include home-box-color;
                        }
                }
                &--flex {
                    display: flex;
                    text-align: center;
                    height: 100%;
                    
                }
                &--icon {
                    @include icon-help;
                    color: #909090;
                        &-color {
                            @include icon-help;
                            color: $colour-primary;
                        }
                }
                &--test {
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                }
                &--number {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -13px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $colour-primary;
                    color: white;
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    font-size: 0.8rem;
                }
        }
}
// Section3
.resto {
    background: $colour-background;
    padding: 40px 20px;
        &--title {
            font-family: 'font4_title-accueil';
        }
        &__grid{
            margin-top: 25px;
            display: grid;
            row-gap: 30px;
        }
        &__link  {
            height: 100%;
            width: 100%;
            @include box-resto;
                &:hover {
                    transform: scale(1.05);
                    transition: 0.3s;
                }
        }
        &__name {
            width: 100%;
        }
        &__card {
            position: relative;
            height: 250px;
                &:hover {
                    transform: scale(1.05);
                    transition: 0.5s;
                }
        }
        &__card1 {
            background: url("./assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") center/cover;
            height: 70%;
            border-radius: 20px 20px 0 0;
        }
        &__card2 {
            background: url("./assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") center/cover;
            height: 70%;
            border-radius: 20px 20px 0 0;
        }
        &__card3 {
            background: url("./assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") center/cover;
            height: 70%;
            border-radius: 20px 20px 0 0;
        }
        &__card4 {
            background: url("./assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") center/cover;
            height: 70%;
            border-radius: 20px 20px 0 0;
        }
        &__name {
            background: white;
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 35px 0 15px;
            border-radius: 0 0 20px 20px;
                &--title {
                    margin-bottom: 5px;
                    font-family: 'font4_title-accueil';
                    font-weight: bolder;
                }
                &--place {
                    font-family: 'font1_regular';
                }
        }
        &__input {

                &--heart {
                    position: absolute;
                    bottom: 0;
                    right: 30px;

                }

        }
        &__new {
            position: absolute;
            top: 20px;
            right: 20px;
            @include box-new;
            font-family: 'font1_regular';
            font-size: 0.85rem;
        }
}

.heart-empty:hover {
    animation: heart-empty 1s;
    
}
.heart-full:hover{
    animation: heart-full 1s;
    
}

.resto__input:checked+.resto__input--label .resto__input--icon label .heart-empty {
    animation: heart-empty 1s;
    animation-fill-mode: forwards;
    
    
} 
.resto__input:checked+.resto__input--label .resto__input--icon label .heart-full {
    animation: heart-full 1s;
    
} 

@keyframes heart-empty {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
       
    }
}
@keyframes heart-full {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
       
    }
}
