@media screen and (min-width: 1400px) {
    .help {
        height: 150px;
            &__grid {
                margin: 0 50px;
                    &--flex {
                        padding-right: 30px;
                    }
            }
    }

    .resto {
        height: 100%;
            &__grid {
                height: 800px;
                margin: 40px 100px;
            }
            &__card {
                height: 100%;
            }
            &__name {
                font-size: 1.2rem;
                padding-left: 25px;
                &--title {
                    margin-top: 20px;
                }
                &--flex {
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    height: 100%;
                }
            }
    }
}