@media screen and (min-width: 500px) {
    .help--title {
        margin-left: 15px;
    }
    .help__grid {
        margin: 0 35px;
    }
    .resto--title {
        margin-left: 15px;
    }
    .resto__grid {
        margin: 30px 35px 0 35px;
    }
}