.block {
    display: flex;
    justify-content: center;
    height: 200px;
        &__btn {
            @include btnMenu;
                &:hover {
                    cursor: pointer;
                    filter: brightness(150%);
                    -webkit-filter: brightness(150%);
                    -moz-filter: brightness(150%);
                }
        }
}