.block {
    display: flex;
    justify-content: center;
    height: 200px;
        &__btn {
            @include btnMenu;
                &:hover {
                    cursor: pointer;
                    filter: brightness(125%);
                    -webkit-filter: brightness(125%);
                    -moz-filter: brightness(125%);
                    box-shadow: 0 0 6px 0 black;
                }
        }
}