.section2 {
    background: $colour-background;
    border-radius: 40px 40px 0 0;
    height: 100%;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 85px;
        margin: 0 20px;
        padding-top: 40px;
        padding-right: 30px;
        position: relative;

        & h1 {
            letter-spacing: 1.2px;
            font-family: 'font3_title', sans-serif;
        }
    }

    &__input {
        &--icon {}

        &--label {}

        &--heart {
            height: 35px;
            width: 30px;
            position: absolute;
            top: 50%;
            right: 30px;
        }
    }
}

.heart-empty:hover {
    animation: heart-empty 1s;
    
}
.heart-full:hover{
    animation: heart-full 1s;
    
}

.section2__input:checked+.section2__input--label .section2__input--icon .heart-empty {
    animation: heart-empty 1s;
    animation-fill-mode: forwards;
} 
.section2__input:checked+.section2__input--label .section2__input--icon .heart-full {
    animation: heart-full 1s;
    animation-fill-mode: forwards;
} 

@keyframes heart-empty {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
       
    }
}
@keyframes heart-full {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
       
    }
}


.section2 {
    &__grid-container {
        display: grid;
        row-gap: 30px;
        margin: 20px 0;
        font-family: 'font1_regular';

        &--grid-menu {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            row-gap: 20px;
            margin: 0 20px;
        }
    }

    &__title-menu {
        display: flex;
        align-items: flex-end;
        font-size: 1.2rem;
        position: relative;
        text-transform: uppercase;
        margin-left: 20px;
        margin-bottom: 30px;
        font-family: 'font2_thin';

        &::before {
            content: '';
            position: absolute;
            bottom: -5px;
            height: 3px;
            width: 50px;
            background: $colour-tertiary;
        }
    }

    &__menu-container {
        @include carteMenu;
        position: relative;
        overflow: hidden;

        &--title {
            font-family: 'font1_regular';

            & h3 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &--price {
            font-family: 'font1_regular';
        }

        &--argument {
            display: flex;
            // align-items: center;
            justify-content: space-between;
            margin-top: 10px;



        }

        &--info {
            font-family: 'font2_thin';
            min-width: 150px;

            &--text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &--checked {
            position: absolute;
            top: 0px;
            right: -70px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $colour-tertiary;
            height: 100%;
            width: 70px;
            border-radius: 0 15px 15px 0;
            font-size: 1.6rem;
            color: white;
        }

    }
}



.input__menu {
    &--label {
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;
    }
}


.test {
    animation: testing 1.5s;
    transform-origin: bottom;
    transform: translateY(1000%);
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}

.test2 {
    animation: testing 1.5s;
    transform-origin: bottom;
    transform: translateY(1000%);
    animation-fill-mode: forwards;
    animation-delay: 200ms;
}

.test3 {
    animation: testing 1.5s;
    transform-origin: bottom;
    transform: translateY(1000%);
    animation-fill-mode: forwards;
    animation-delay: 400ms;
}


@keyframes testing {
    0% {
        transform: translateY(1000%);
        opacity: 0%;
    }

    50% {
        opacity: 0%;
    }

    75% {
        opacity: 25%;
    }

    100% {

        transform: translateY(0%);
    }

}


.input__menu:checked+.input__menu-container .input__menu--label {
    width: calc(100% - 50px);
    transition: 1s;
}

.input__menu:checked+.input__menu-container {
    padding-right: 90px;
    transition: 1s;
}

.input__menu:checked+.input__menu-container .input__menu--label .section2__menu-container--title {
    width: 200px;
    transition: 1s;
}

.input__menu:checked+.input__menu-container .section2__menu-container--checked {
    right: 0px;
    transition: 1s;
}

.input__menu:checked+.input__menu-container .fas {
    transform: rotate(360deg);
    transition: 1s;
}

.input__menu:hover+.input__menu-container .input__menu--label {
    width: calc(100% - 50px);
    transition: 1s;
}

.input__menu:hover+.input__menu-container {
    padding-right: 90px;
    transition: 1s;
}

.input__menu:hover+.input__menu-container .input__menu--label .section2__menu-container--title {
    width: 200px;
    transition: 1s;
}

.input__menu:hover+.input__menu-container .section2__menu-container--checked {
    right: 0px;
    transition: 1s;
}

.input__menu:hover+.input__menu-container .fas {
    transform: rotate(360deg);
    transition: 1s;
}